body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer {
    background-color: #efefef;
    flex: 0 0 50px;/*or just height:50px;*/
    margin-top: auto;
}

.col:empty::after{
    content: ".";
    visibility:hidden;
}
